{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; color:rgb(117, 31, 31); background-color: beige"><strong><i>STOCK ELS</i></strong></h1>
    <h2 style="color: palevioletred;">Inventory Page</h2>

    <h4 style="font-family: Georgia;">Name: {{ my_name }} </h4>
    <h4 style="font-family: Georgia">Class: {{ my_class }} </h4>

    <!-- menambahkan pesan untuk bonus -->
<h2 style="text-align: center; background-color: rgb(237, 237, 237)">Kamu memiliki {{ total_items }} item yang tersimpan pada aplikasi ini!</h2>
    <!---->
<table style="width: 100%" cellspacing="5" border="1">
    <tr bgcolor="#e66457">
        <th>Name</th>
        <th>Price</th>
        <th>Size</th>
        <th>Amount</th>
        <th>Change Item Amount</th>
        <th>Description</th>
        <th>Date Added</th>
       
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>Rp{{item.price}}</td>
            <td style="text-align: center;">{{item.size}}</td>
            <td style="text-align: center;">{{item.amount}}</td>
            <!-- menambahkan button tentang amount item sebagai bonus -->
            <td style="text-align: center;">
                <form action="{% url 'main:increment_item' item.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" name="increment">
                        +
                    </button>
                </form>
                <form action="{% url 'main:decrement_item' item.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" name="decrement">
                        -
                    </button>
                </form>
                <form action="{% url 'main:remove_item' item.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" name="remove">
                        Remove
                    </button>
                </form>
            </td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
            
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>

<!--Tugas 4-->
<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>
{% endblock content %}