{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}
        
{% block content %}  

<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; background-image: url(https://images7.alphacoders.com/115/1153599.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="login-container">
        <div class="login">
            <h1>Register</h1>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {% for field in form %}
                    <p>
                        <input class="input-cointaner" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}" id="{{ field.auto_id }}" autocomplete="off">
                        {% if field.help_text %}
                        <div class="help-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% for error in field.errors %}
                        <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td><input class="btn register_btn" type="submit" name="submit" value="Register"></td>
                    </tr>
                </table>
            </form>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

<style>
    h1{
        text-align: center;
        margin-bottom: 30px; 
        margin-top: 15px;
    }

    .login-container {
        width: 400px;
        background-color: rgba(255, 255, 255, 0.8); 
        border-radius: 10px; 
        padding: 20px; 
        border: 2px solid white;
        backdrop-filter: blur(5px);
    }

    .input-cointaner {
        align-items: center;
        width: 100%;
        padding-left: 10px; 
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
        border: 2px solid white;
    }

    .error-message {
        margin-top: 15px;
        color: #b80000;
        text-align: center;
        font-size: 15px;
    }

    .help-text{
       font-size: 12px; 
       margin-left: 5px;
       color: #3b3737
    }

    .btn.register_btn {
        display: flex;
        justify-content: center;
        background-color: rgb(40, 39, 39); 
        color: white; 
        margin-top: 10px;
        margin-bottom: 10px;
        width: 350px;
        border: none; 
        border-radius: 20px;
    }
</style>

{% endblock content %}
